body{
    overflow-y: auto;
}

.parrafo{
    position: relative;
    width: 40%;
    height: 0%;
    font-family: arial;
    margin-left: 12%;
    top: 30px;
    
}
h2{
    position: relative;
    color: #CB7766;
    height: 0px;
    font-family: 'Kanit', sans-serif;
    margin-left: 12%;
    top: 1%;
    font-size: 160%;
    
}

.himno{
    position: relative;
    width: 24%;
    margin-left:65%;
    top: 150px;
    border-radius: 10%;
    
}