@import url(header.css);
@import url(footer.css);
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
body main{
    width: 90%;
    height: 900px;
    border: 5px solid green;
    margin: 0 auto;
}
main .menu{
    width: 90%;
    height: 45px;
    margin: 0 auto;
    background-color: #06a15f;
    position: relative;
    top: 30px;
}
main p{
    width: 80%;
    height: 350px;
    margin: 0 auto;
    position: relative;
    top: 40px;
}


.menu{
    display: inline;
    display: flex;
    justify-content: center;
   
}
.menu a{
    padding: 10px;
    text-decoration: none;
    display: block;
    
}


.i{
    position: relative;
    width: 300px;
    left: 300px;
    top: -180px;
    
}
h1{
    position: relative;
    color: #096d47;
    top: 30px;
}

