body{
    overflow-y: auto;
    
}

.parrafo{
    position: relative;
    width: 40%;
    height: 0%;
    font-family: arial;
    margin-left: 12%;
    top: 70px;
    
}
h2{
    position: relative;
    color: #CB7766;
    height: 0px;
    font-family: 'Kanit', sans-serif;
    margin-left: 12%;
    top: 1%;
    font-size: 160%;
    
}

.i{
    position: relative;
    width: 35%;
    margin-left:65%;
    top: 200px;
    border-radius: 10%;
    
}